:root {
  --bg-gradient-light: linear-gradient(
    90deg,
    rgba(42, 123, 155, 1) 0%,
    rgba(87, 199, 133, 1) 50%,
    rgba(237, 221, 83, 1) 100%
  );

  --bg-gradient-dark: linear-gradient(
    90deg,
    #0b3d91 0%,
    #1a6a40 50%,
    #a08f20 100%
  );

  --text-color-light: #222;
  --text-color-dark: #eee;
}

.App {
  height: 100vh;
  text-align: center;
  background: var(--bg-gradient-light);
  color: var(--text-color-light);
  transition: background 0.3s ease, color 0.3s ease;
}

.App.dark {
  background: var(--bg-gradient-dark);
  color: var(--text-color-dark);
}

.theme-toggle-btn {
  margin-top: 24px;
  margin-right: 7rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: rgba(87, 199, 133, 0.8);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  z-index: 1000;
  font-family: sans-serif, Arial, Helvetica;
}

.theme-toggle-btn:hover {
  background-color: rgba(87, 199, 133, 1);
}

/* Media Queries */

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
  .theme-toggle-btn {
    display: none;
  }
}

/* Iphone 12 Pro */
@media (max-width: 390px) {
  .theme-toggle-btn {
    display: none;
  }
}

/* Iphone SE */
@media (max-width: 375px) {
  .theme-toggle-btn {
    display: none;
  }
}
