.character-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: #fff;
  font-family: sans-serif, Arial, Helvetica;
}

.detail-btn {
  width: 200px;
  height: 38px;
  margin: 15px 100rem 1rem 76px;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ffffff;
  background-color: #222;
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.detail-btn:hover {
  background-color: #444;
}

.character-detail-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.character-detail-card {
  background-color: #ffffff;
  color: #222;
  border-radius: 15px;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.detail-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
}

.related-field strong {
  color: #2a7b9b;
  font-weight: 700;
}

.related-field {
  color: #2a7b9b;
  font-style: italic;
}

/* Media Queries */

/* Iphone 14 Pro Max */
@media (max-width: 430px) {
  .character-detail-container {
    padding: 0rem;
  }

  .detail-btn {
    margin: 1rem 20rem 0rem 0rem;
    width: 5rem;
  }
}

/* Iphone SE */
@media (max-width: 375px) {
  .character-detail-container {
    padding: 0rem;
  }

  .detail-btn {
    margin: 1rem 16rem 0rem 0rem;
    width: 5rem;
  }
}

/* Iphone XR */
@media (max-width: 414px) {
  .character-detail-container {
    padding: 0rem;
  }

  .detail-btn {
    margin: 1rem 18rem 0rem 0rem;
    width: 5rem;
  }
}

/* Samsung Galaxy S8+ */
@media (max-width: 360px) {
  .character-detail-container {
    padding: 0rem;
  }

  .detail-btn {
    margin: 1rem 16rem 0rem 0rem;
    width: 5rem;
  }
}
