.spinner {
  border: 6px solid rgba(87, 199, 133, 1);
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.character-card {
  border: 2px solid white;
  border-radius: 15px;
  height: 50em;
  width: 30em;
  margin-left: 12%;
}

.character-info-img {
  display: flex;
  justify-content: center;
}

.character-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  border-radius: 6%;
  height: 41%;
  padding-top: 18%;
  align-items: center;
}

span {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
}

.character-info-gender {
  font-weight: 300;
  color: silver;
  font-size: 20px;
}

.character-info-btn {
  margin-top: 20px;
}

.btn {
  width: 200px;
  height: 38px;
  border-radius: 5px;
  background-color: rgba(87, 199, 133, 1);
  border: none;
  font-family: sans-serif, Arial, Helvetica;
  cursor: pointer;
}

/* Media Queries */

/* Iphone 14 Pro Max */
@media screen and (max-width: 430px) {
  .character-card {
    border: 2px solid white;
    border-radius: 15px;
    height: 46em;
    margin: 77% 0% 0% 0%;
    width: 100%;
  }

  .character-info {
    height: 45%;
  }
}

/* Iphone 12 Pro */
@media screen and (max-width: 390px) {
  .character-card {
    border: 2px solid white;
    border-radius: 15px;
    height: 46em;
    margin: 77% 0% 0% 0%;
    width: 100%;
  }

  .character-info {
    height: 45%;
  }
}

/* Iphone SE */
@media screen and (max-width: 375px) {
  .character-card {
    margin-top: 17rem;
    height: 39em;
  }

  .character-info {
    padding-top: 18%;
  }
}
