.characters-container {
  margin-top: 11%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.swiper-button-next {
  color: black !important;
}

.swiper-button-prev {
  color: black !important;
}
